{%load static%}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>다금바리 이미지 딥러닝</title>
</head>
<body>

<form id="form1" name="form1" method="post" action="/check/" enctype="multipart/form-data">
<div style="width:800px;">검사할 파일
    <input type="file" name="file">
</div>




<div class="my-3 text-center">
<button type="submit" class="btn btn-primary"value="check">이미지 업로드</button>
 <button type="submit" class="btn btn-primary ml-3" value="check">다금바리 판별 버튼</button>
 </div>



</form>

</body>
</html>